@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700&display=swap');

body {
  margin: 0 auto;
  padding: 1em;
  max-width: 60em;
  font-family: 'Roboto Mono', sans-serif;
  line-height: 1.5;
  color: #2d354c;
  background-color: rgb(190, 154, 161);
}

button,
input {
  font: inherit;
  color: inherit;
}

th,
td,
button,
input {
  padding: 0.75em 1em;
}

table#cart {
  width: 100%;
  border-collapse:separate;
}

table#cart tfoot {
  background: rgb(175, 174, 174);
}

table#cart td,
table input {
  border: 1px solid #dadada;
}

table input[type='number'] {
  border-radius: 15px;
  max-width: 4em;
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: 0.25em;
  cursor: pointer;
}

.btn-success,
.btn-remove {
  color: #fff;
}

.btn-success {
  background-color: #2cc5fa;
}

.btn-remove {
  background-color: #f27471;
}

h1,
h2,
.calculate-total {

  text-align: center;
}

h1{
  border-radius: 15px;
  border-style:groove;
}

.btn:hover {background-color: #3e5e8e}

.btn:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


